- @posts.each do |post|
  %h2= link_to post.title, post
  %h4= truncate(post.content, length: 50)
  %p
    Published
    = time_ago_in_words(post.created_at)
    ago by
    = post.user.email
  %br/

= link_to "New Post", new_post_path